name: notify

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
      - uses: actions/checkout@v2
        with:
          ref: archive
          path: arch

      - env:
          MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
          WATCHLIST_SOURCE: ${{ secrets.WATCHLIST_SOURCE }}
        run: |
          .\notify.ps1 "$env:MAILGUN_API_KEY" "$env:WATCHLIST_SOURCE" ((Get-ChildItem .\arch\ | Where-Object { $_.name -match "prices-....-..-..( .._..)?\.csv" } | Sort-Object -Descending)[0])
